.common_section {
    background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../assets/images/bedroom.jpg) no-repeat center center;
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common_section h1 {
    color: #fff;
    font-weight: 600;
}

